---
import Layout from "../layouts/Layout.astro";

const lang = "it" as const;
---

<Layout
  title="Informativa Cookies Privacy - Panebarco"
  useInnerStyles={true}
  lang={lang}
  headerProps={{ darkmode: false }}
>
  <main class="py-5 mt-4 mt-md-5">
    <section class="container py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-8">
          <h1 class="mb-4">Informativa Cookies Privacy</h1>
          <p class="mb-4 text-secondary">Ultimo aggiornamento: 19 marzo 2026</p>

          <div class="mb-5">
            <h2 class="h4 mb-3">Che cosa sono i cookie</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus
              posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p class="mb-0">
              Donec sed odio dui. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.
            </p>
          </div>

          <div class="mb-5">
            <h2 class="h4 mb-3">Tipologie di cookie</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet
              fermentum. Sed posuere consectetur est at lobortis.
            </p>
            <ul class="mb-0">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            </ul>
          </div>

          <div class="mb-5">
            <h2 class="h4 mb-3">Gestione del consenso</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.
              Donec ullamcorper nulla non metus auctor fringilla.
            </p>
            <p class="mb-0">
              Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
          </div>

          <div>
            <h2 class="h4 mb-3">Preferenze del browser</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu
              leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
            <p class="mb-0">
              Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at
              eget metus.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
